%nav.h-full.bg-secondary
  %ul
    %li= nav_link_to 'Home', backend_welcome_path, :exact
    %li.title System
    %li= nav_link_to 'Users', backend_admins_path, :controller
    %li= link_to 'Logout', destroy_session_path(current_admin), method: :delete
